.simple-summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  text-align: center;

  .about-me {
    margin: .5rem;
  }
  img {
    border-radius: 50%;
    margin: 1rem 0;
  }
  .my-name {
    margin: .5rem 0 0 0;
    font-weight: bold;
  }
  .short-summary {
    margin: .5rem 0 0 0;
  }
  .person-summary {
    margin: 1rem 0 0 0;
    font-size: 1.3rem;
  }
}
